<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artur.epllive">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/epl_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/epl_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TableActivity">
        </activity>
        <activity android:name=".StatsActivity">
        </activity>
        <activity android:name=".ClubActivity">
        </activity>
        <activity android:name=".ShowStatsActivity">
        </activity>
        <activity android:name=".ScheduleActivity">
        </activity>
    </application>

</manifest>